[2020-09-07 20:52] heinezen opened #1312 "Store hash-version map files for acquiring version number"
**Required skills**: Python

**Difficulty**: Easy

**Motivation**

Age of Empires 2 and other Genie games do not store their version number in a plaintext file or anything else that is easy to read. Therefore, openage uses the hashes of files to determine the version of a game. The idea behind this is that a file from a specific release will always have the same hash value. By calculating the hash

[2020-09-07 21:03] heinezen opened #1313 "Parse nyan API objects in converter instead of hardcoding them"
**Required skills**: Python, Cython, nyan, maybe C++

**Difficulty**: Medium

Currently, the asset converter stores the openage nyan API as hardcoded nyan objects. It would be much better if the converter could read the API objects from the filesystem with a parser. There would be two ways to do this. Either we implement a new Python parser for nyan or we extend `libnyan`'s already existing C++ pa

[2020-09-08 16:03] heinezen opened #1314 "Store game edition and game expansion info in auxiliary file instead of hardcoding it"
**Required skills**: Python

**Difficulty**: Easy

openage currently stores information about a game edition or expansion inside an `Enum`, e.g. media paths, support status, etc. We should store this information in an auxiliary file instead, similar to #1312. That would make updating and correcting game information easier as we no longer have to replace chunks of code.

The recommended approach is

[2020-09-08 20:00] heinezen opened #1315 "Split converted data into multiple modpacks"
At the moment, the converter will export all generated and converted data from a game into a single modpack. However, there would be benefits for splitting data into multiple modpacks in the following situations:

* Separating DLCs/expansions from the main game (one modpack per expansion)
* Having separate modpacks for game data, media and translations

The former is useful when a game has optiona

[2020-09-08 20:24] heinezen opened #1316 "Better nyan imports for nyan file creation"
nyan uses a Python-like import mechanism for object definition in its files. Currently the converter chooses the "best" import (short aliases and under 100 imports) dynamically for every file. However, this also results in every file having different looking imports which is probably really confusing for modders.

The import generation could be improved by switching from a dynamically generated im

[2020-09-08 20:29] heinezen commented on #970
Solved!

[2020-09-08 20:29] #970 closed

[2020-09-09 15:32] duanqn commented on #1306
Maybe this could help?
https://stackoverflow.com/questions/12249610/c-create-file-in-memory

[2020-09-11 21:17] heinezen commented on #1306
@duanqn Thx, I think I even considered this when initially wrote the png exporter. Though I would ideally not rely on "dirty" hacks, especially if they are only made for one platform. They tend to break a lot more often and in unexpected ways :D

However, it's better than having this issue unresolved, so if anyone builds a solution around this, that's also OK.

[2020-09-12 01:30] duanqn commented on #1306
I may be able to create a `open_memstream()` C++ function that works on both Windows and Linux. But I don't know how you can import them like the current `posix.stdio` package. Can you write the glue code between C++ and Python?

[2020-09-12 10:00] heinezen commented on #1306
@duanqn Sounds great! Of course, I will assist you with the Cython importing. It's mostly an explicit import of functions from a C/C++ header file, as shown here:

https://github.com/SFTtech/openage/blob/afbb624518e360bb96835badfa2c37979ff2e7b8/openage/convert/service/export/png/libpng.pxd#L3-L8

Cython also [has a tutorial for that](https://cython.readthedocs.io/en/latest/src/userguide/external_C

[2020-09-12 10:41] duanqn commented on #1306
@heinezen I'll start working on that then. Also, I read that Mac OS does not have `open_memstream()` either, but I don't have a Mac device to confirm that.

[2020-09-12 11:19] heinezen commented on #1306
macOS should have `open_memstream()` as it implements the POSIX standard (at least I would be surprised if it didn't).

[2020-09-23 00:41] #697 closed

[2020-09-23 00:41] #965 closed

[2020-09-23 00:41] #1162 closed

[2020-09-25 11:43] #632 closed

[2020-09-26 17:29] okias opened #1322 "Debian package"
Hello,

would be nice to have classic Debian package, is there someone with at least light experiences with [Salsa](https://salsa.debian.org/public), who could prepare something eventually included by Debian?

Thank you

Ref https://github.com/SFTtech/openage/issues/94

[2020-09-28 11:11] TheJJ commented on #1322
openage is a classic cmake-built package, and just has some dependencies. so it shouldn't be hard to create a debian package :)

[2020-09-28 19:35] ChipmunkV commented on #1322
Oh, I remember...

There was a Debian packaging script: https://github.com/SFTtech/openage-debian/pull/1

I think I used the "Debian Maintainers' Guide" (the scary one).

[2020-09-28 19:37] okias commented on #1322
Nice! If anyone will try to move it to salsa.debian.org/ setup CI and make lintian happy, I'm offering help with my all (thou beginner) knowledge to get it into best shape. :+1:

[2020-10-07 14:25] duanqn commented on #1306
I can write a fake "open_memstream" following the SO guide, but you won't be able to call `free` on the returned pointer. Is it OK if I return a null pointer, and you perform the check before `free`ing it?

[2020-10-07 17:47] heinezen commented on #1306
Should be okay I think.

[2020-10-10 18:58] drs-11 commented on #1287
Hey I think I can work on this! Looks doable enough for me.
Some questions tho:
- Is this supposed to be like a CLI utility tool for creating a manifest file for a given modpack?
- Where would the code go for this in the code base?
- Does the manifest file need to be in plain text format? If not I think making it in json format would be good enough.

[2020-10-10 19:56] heinezen commented on #1287
@drs-11 Hey! :)

It is supposed to be integrated, not a CLI utility. The manifest should be created after the the converter exported all files in the modpack (see below).

It should happen at the end of the `export()` function in here:

https://github.com/SFTtech/openage/blob/master/openage/convert/processor/export/modpack_exporter.py#L18-L73

This is the place where the converter exports all file

[2020-10-11 00:46] donno2048 opened #1323 "No module named 'readline'"
I get this error when running openage:
[code]
on windows 10

[2020-10-11 00:47] donno2048 commented on #1323
I ran `pip install readline` but got:
[code]

[2020-10-11 08:20] drs-11 commented on #1287
Okay got it. On it!

[2020-10-11 12:54] heinezen commented on #1323
We should switch to this: https://pypi.org/project/pyreadline/

[2020-10-12 12:03] TheJJ commented on #1323
It's part of the guide: https://github.com/SFTtech/openage/blob/d73cf2e7172f9b3efd5a5ff0404dc43df16e757e/doc/build_instructions/windows_msvc.md#python-modules

Did you install `pyreadline`?

[2020-10-12 13:05] donno2048 commented on #1323
I actually just installed it directly from Bintray...

Why is this happening if it's supposed to use `pyreadline` anyway?

[2020-10-12 13:05] #1323 closed

[2020-10-12 13:22] TheJJ commented on #1323
I'm not very sure but i think `pyreadline` injects readline behavior, and provides the `import readline` for windows.

[2020-10-17 12:00] karl01101101 commented on #1314
Here for hacktoberfest!
Can I have a shot at it?

[2020-10-17 13:14] heinezen commented on #1314
@Yoiro Are you still working on this?

@karl01101101 There is someone already working on this (but has not made a PR yet). We also have other special hacktoberfest tasks that you can work on if you want:

* https://github.com/SFTtech/openage/issues/1308 (Sound file conversion and export)
* https://github.com/SFTtech/openage/issues/1290 (Set PNG compression level)
* https://github.com/SFTtech/opena

[2020-10-17 13:25] Yoiro commented on #1314
Hey, I'm still struggling with the build system, and to be honest I didn't manage to give it another look since then. So anyone willing to pick it can pick it, it's fine for me!

[2020-10-17 20:42] #1287 closed

[2020-10-18 14:28] sandsmark commented on #366
Ref liquid war:
The algorithm is described here, though I'm not sure at least I'd be able to implement it from that description alone: https://github.com/bkil/liquid-war-5/blob/master/doc/xml/algorithm.xml

I think this is the interesting part of the algorithm: https://github.com/bkil/liquid-war-5/blob/master/src/spread.s

It's in fairly straightforward assembly, and fortunately it's documented. U

[2020-10-18 20:53] drs-11 commented on #1308
On it!

[2020-10-18 23:33] heinezen commented on #1308
Nice!

[2020-10-19 04:49] Brodan commented on #1273
Hi, I'm a newbie looking to contribute and this looks like a cool first issue that I can actually wrap my head around. Any chance the hacktoberfest label can be added so it could count towards my contributions?

[2020-10-19 06:50] heinezen commented on #1273
@Brodan Sure, you can go for it :)

[2020-10-22 18:51] #1308 closed

[2020-10-22 21:15] drs-11 commented on #1312
Hey I can do this one too! Seems similar to the manifest file one.

[2020-10-22 22:11] heinezen commented on #1312
@drs-11 Great :D

In comparison to the manifest file task, the hashes do not need to be generated this time. The file is manually created by the openage team and read in by the converter into `GameFileVersion` instances.

https://github.com/SFTtech/openage/blob/master/openage/convert/value_object/init/game_file_version.py#L10-L14

I can provide the SHA3-256 hashes for several older releases if you

[2020-10-23 08:07] drs-11 commented on #1312
Yes please, I do not currently own any of the releases right now.

Ok so the file is need to be created and then `GameEdition` enumeration is needed to be modified to use the map file to enumerate the versions?

[2020-10-23 15:51] heinezen commented on #1312
The Conqueros:

Version: 1.0c

[code]
Rise of Rome

Version: 1.0B

[code]

Star Wars: Galactic Battlegrounds

Version: GOG

[code]

Clone Campaigns

Version: GOG

[code]

[2020-10-23 16:25] TheJJ commented on #1312
Don't forget that pretty much all the user-patched exes have differend hashes depending on the selected userpatch features etc. That said, this version detection approach should only be an addition to the other methods, e.g. file discovery.
Maybe there's some build ID in the exe we can extract, too?

[2020-10-23 19:01] heinezen commented on #1312
We can store multiple hashes for a filename that all reference the same version. I'm pretty sure there is a build version in the DE2 exe, but I found none in the older games' exes. Maybe it's there but has no descriptive string in front of it.

I don't think we can get away without hashing though because it's the only way I can think of to detect non-standard versions of the game (i.e. modded vers

[2020-10-24 07:48] drs-11 commented on #1312
@heinezen the hashes you provided are different from the ones in `game_version.py` even though they are of the same version I think. Why so?

And I'm not really sure what we are trying to do here. Are we using to toml map file to separate the version infos? So that it can be used to build up the `GameEdition` enum?

[2020-10-24 11:37] heinezen commented on #1312
The hashes currently in `game_version.py` are MD5 hashes, not SHA3.

Yes, we want to get them out of the Python code into regular files. That way, we can easily update them without changing code. This is important as otherwise we would have to create a new converter release for every patch of a game (in a worst case scenario). Having the data in an auxiliary file is much more convenient because th

[2020-10-24 15:19] drs-11 commented on #1312
Oh okay of course. Silly me.

Hey since the aim is to get rid of `GameEdition` enum I can take that issue as well(it's idle for a week) and save all info into TOML files. If that's okay.

[2020-10-24 15:37] heinezen commented on #1312
That would be really awesome :D :rocket:

[2020-10-31 18:35] mmtj commented on #1289
Could you point me to some docs describing AoE assets data formats and their differences? Even though I have an idea which code should be changed, I don't really have good understanding of assets data.

I only own AoE2: HD edition (apart from probably long lost CD of AoE2), so I can't try conversion of any other assets.

[2020-10-31 21:55] heinezen commented on #1289
[/doc/media](https://github.com/SFTtech/openage/tree/master/doc/media) has all info on the data formats. HD's terrain files and 32-Bit SLPs are the only major change compared to AoC I think.

[2020-11-03 22:54] heinezen opened #1333 "Use Python 3.6 f-strings"
[Python formatted strings](https://docs.python.org/3/reference/lexical_analysis.html#f-strings) are much better to read and supposedly faster than %-formatted strings. Our python code uses a bunch of %-formatted strings which could be replaced with f-string syntax.

**Example**

Current %-formatted syntax:

[code]

f-string syntax:

[code]

[2020-11-04 13:41] #1312 closed

[2020-11-04 13:41] #1314 closed

[2020-11-07 19:08] TheNamesGregoryAndounuts opened #1335 "Can't unzip installer"
Hi, I just found this game and wanted to give it a try but when I download it from here (https://bintray.com/simonsan/openage-packages/openage-windows-nightly/0.4.0) an un-zip the installer I find that windows tells me that it can't open the file due to it being invalid. Is there any place I can get the game where I can successfully un-zip it?

[2020-11-07 23:41] heinezen commented on #1335
Unzipping works under Linux, so it's probably not the file making problems. I guess you can try another archive software like 7-zip (https://www.7-zip.org/) and see if that works.

[2020-11-08 19:28] #1284 closed

[2020-11-08 22:40] #1295 closed

[2020-11-09 14:33] heinezen commented on #1290
Closed via #1327

[2020-11-09 14:33] #1290 closed

[2020-11-10 18:06] TheJJ commented on #1335
If you need further help, please notify us (or join the chat).

[2020-11-10 18:06] #1335 closed

[2020-11-12 02:09] duanqn opened #1337 "Something that looks like a typo"
In openage/default_dirs.py, line 84 (of commit b303555ec90d4c)

Judging from the context, it seems that the variable `env_var` should be `env_vars`.

If anyone can confirm this I can fix it.

[2020-11-13 18:54] heinezen commented on #1337
I don't see the line in the commit you linked, but I think you are right when looking at the line in HEAD:

https://github.com/SFTtech/openage/blob/master/openage/default_dirs.py#L84

So it looks like it needs fixing.

[2020-11-17 01:12] svyshlov commented on #1286
Hello! I have stumbled upon this issue and really want to help, however I don't understand how to read .dat files. I have cloned and compiled genieutils, but the problem is that I don't know what to do with the .dll file and how to use it to convert .dat into readable text.

Thank you very much in advance!

[2020-11-17 21:21] heinezen commented on #1286
@svyshlov Hey! :)

genieutils can only read and write in the .dat format and cannot output readable text. I linked it because the the source code contains a lot of descriptions and version checks. Sorry for the confusion.

The best way (I think) to get a readable format from the .dat is to call the `get_data_format()` methods in the openage converter:

* [All .dat file structs](https://github.com/

[2020-11-18 14:28] TobiasFP commented on #1285
Another source of inspiration could be:
https://code.google.com/archive/p/gimp-dds/source#

[2020-11-18 22:05] TobiasFP commented on #1285
@heinezen Do you know if there is any reason we cannot simply use wand?
Do we want to avoid more dependencies?

I tested wand with this small script, using a file from DEII:
prerequisities: pip3 install wand
It seams to even use cython in the backbone of it, so it should be performant enough.
`from wand import image

def main():
    with image.Image(filename='input/002_50730.DDS') as img:

[2020-11-18 22:25] heinezen commented on #1285
@TobiasFP It require imagemagick, does it? If so, I'd rather not use wand because it introduces a pretty heavy dependency for something that is essentially only required when the converter runs (which is ideally only used once during the setup phase). We would also have to bundle it for the Windows builds.

So good idea because it would simplify it for us, but imagemagick has to much overhead imo

[2020-11-18 23:04] TobiasFP commented on #1333
I am on it, have done something similar in an equally big project successfully with flynt.
https://pypi.org/project/flynt/

[2020-11-19 01:55] heinezen commented on #1285
I see that pillow extended their DDS support which is nice :) Although it is probably still slow.

I've added a link to pillow's code to the initial post. We could use their implementation, but then we miss out on PNG optimization and speed. I would still prefer a fast Cython implementation.

[2020-11-19 01:56] heinezen commented on #1333
Hopefully flynt can deal with some of the more messy code blocks :)

[2020-11-19 11:07] TobiasFP commented on #1333
I will be reviewing everything, but it seams it does it perfectly 100% of the time, though I have reverted some changes, since I am not 100% sure (and not able to properly test). But yeah, I will have 95% converted, and will flag the rest, by the end of this week.

[2020-11-19 11:13] TobiasFP commented on #1285
Do we have an estimate when the dds2png library is necessary to push on?
If we need it quite soon, i suggest we implement pillow for now (Since it would take so little time), and get back to the proper dds2png library when it becomes important improve speed.

If you think this is the wrong way to go, I will gladly begin on the cython implementation, but it will take quite a while to finish, as I d

[2020-11-19 21:45] heinezen commented on #1285
@TobiasFP It is not strictly necessary, but using pillow is better than no support. We can implement this issue using pillow and leave it open until the Cython implementation is ready :)

[2020-11-21 02:31] svyshlov commented on #1286
@sandsmark Hello!:) Thanks for the reply. Do I need to compile the whole openage to use converter methods? I have tried to use openage as a whole, but got  'UnionPath' object has no attribute 'cfg_dir' error.

If I only use converter, I get:
`bin/run convert --source-dir /media/sf_AoE2DE/ --force
INFO [py] Game edition detected:
INFO [py]  * Age of Empires 2: Definitive Edition
INFO [py] convertin

[2020-11-21 12:33] heinezen commented on #1286
@svyshlov You don't need to compile the openage converter for this issue (only a few of the media parsers use Cython for extra speed). Also, the error you encounter is probably caused by the fact that AoE2:DE just got an update that I haven't looked into yet :D However, you don't have to worry about this since the .dat parser runs through without errors (see `INFO [py] [1] empires.dat`).

You are

[2020-11-23 21:15] heinezen commented on #1333
@TobiasFP If you want you can already make a PR and have me double-check the results from flynt. I will probably be able to spot most errors quickly.

[2020-11-24 01:44] heinezen opened #1338 "Speed up optimized PNG compression with pre-computed parameters"
**Required skills:** Python, maybe Cython

**Difficulty:** Medium

The openage converter is able to optimize the compression for created PNG files by utilizing a search algorithm inspired by [OptiPNG](http://optipng.sourceforge.net/). To do this, the search algorithm first tries 8 different compression settings by creating PNGs with these settings in-memory. The compression settings that produced

[2020-11-24 13:55] TobiasFP commented on #1333
Thansk.
Just finishing up now.
There might be some small issues, like in:
strings.py:
        colorized = '\x1b[{colorcode}m{string}\x1b[m'.format(
            colorcode=colorcode, string=string)

I think the \x1b is a problem for flynt, which is why I have reversed (hopefully) all these conversions.
99% of the conversion is fine though.

[2020-11-24 21:53] heinezen commented on #1333
I'll now test for all games. If the converter runs through for them, there's not much breakage to worry about.

[2020-11-25 05:32] #1337 closed

[2020-11-27 22:39] okias commented on #1050
I originally created #1322 , but since it's Debian/Ubuntu and clones related, doing Flatpak would have much bigger reach for Linux distributions...

So, if there is here anyone not yet convinced with flatpak skills, please consider creating flatpak build. Also I'm willing tip $ 10 for continuous & release flatpak build.

[2020-12-14 14:49] #1333 closed

[2020-12-18 22:06] heinezen opened #1343 "Enhance output summary of converter run for debugging"
**Required skills:** Python

**Difficulty:** Easy

During a converter run, a bunch of intermediary objects are created in the [processor stage](https://github.com/SFTtech/openage/blob/master/doc/code/converter/workflow.md), specifically AoE-like and API-like objects. These are used in the transformation from Genie Engine formats to openage formats (e.g. [nyan](https://github.com/SFTtech/nyan)).

T

[2020-12-18 22:08] heinezen opened #1344 "More informative `Exception`/Error messages in converter"
**Required skills:** Python

**Difficulty:** Medium

In AoE2's `.dat` format most associations and assignments of properties are done by IDs (e.g. unit has ability with ID X). The openage converter uses these IDs to lookup the associated openage API property and then map the values from AoE2's `.dat` structure  to the corresponding API object's member values. In short, every property from AoE2 nee

[2020-12-23 03:00] duanqn commented on #1344
When you say

Are those errors code defects, or just because the user does not have the correct AoE2 assets?

[2020-12-23 03:13] duanqn commented on #454
@heinezen Can you verify if this bug still exists in the new converter? Can we close this issue?

[2020-12-23 03:20] heinezen commented on #454
@duanqn Should have been fixed when we added DE2 support, but I'll check in the debugger later.

[2020-12-23 03:36] heinezen commented on #1344
Most of them are code defects or missing implementations, e.g.
* For somehing like tech effects, the converter gets the effect ID and looks up a corresponding handler function in a dict. If the ID is not found, the `KeyError` should be caught and raise a `NotImplementedError`.
* KeyErrors when looking up unit ID or tech IDs are almost always the converters fault
* Names for converted nyan objects

[2020-12-23 17:12] heinezen commented on #454
Yep, it's fixed :)

[2020-12-23 17:12] #454 closed

[2020-12-27 14:51] marcinsobejko commented on #1256
I wondering if we can use different approach to this problem. What if we can reorganize converter structure to convert data not all at one but convert them by groups like Units for instance.

We can imagine that if you will load only Units related it will use less memory to do convertion then we can load next data group for convertion.

Problem with this approach is that we need to refactor conver

[2020-12-27 19:14] heinezen commented on #1256
This is what is done already, so your idea is actually the logical extensions of what has to be coded when implementing the issue :) When the unit line is started to be converted [here](https://github.com/SFTtech/openage/blob/07e6f93aa078642274db22d47a6f8f9fa136640f/openage/convert/processor/conversion/aoc/nyan_subprocessor.py#L129), we would (manually) load its and all related structs before we p

[2020-12-28 17:57] marcinsobejko commented on #1256
Ok, thanks for your replay now I see that. I must say that this source code is quite large and it takes me some time to understand what to do ;)

[2020-12-28 18:00] heinezen commented on #1256
@marcinsobejko You can read the converter blogposts for an intruduction :)

* https://blog.openage.dev/the-openage-converter-part-i-reading-data.html
* https://blog.openage.dev/the-openage-converter-part-ii-preparations-for-conversion.html
* https://blog.openage.dev/the-openage-converter-part-iii-convert.html
* https://blog.openage.dev/the-openage-converter-part-iv-conclusions.html

[2020-12-30 02:49] okias commented on #1302
I can confirm this issue on Flatpak #1349

[2020-12-30 03:35] okias commented on #1050
@TheJJ appid should be still `lol.sfttech.openage` or `mx.sft.openage`?

[2020-12-30 11:14] TheJJ commented on #1050
good idea, i'd prefer the lol domain since it can do dnssec and is funnier. heh.

[2020-12-30 11:48] okias commented on #1050
Ok, I'll use `lol.sfttech.openage`. If you have control over the domain, would be nice if you can make `https://openage.sfttech.lol` redirect to `openage.sft.mx` :+1:

[2020-12-30 12:19] okias commented on #1300
Wayland provides EGL (also EGL can be these days used on X11 well).

[2020-12-30 15:39] okias commented on #1302
strace
[code]

[2020-12-30 15:48] tmrlvi commented on #1302
I'm having the same problem. The relevant lines are (It is easier to see when you add prints to `openage.util.fslike.cpp.fs_open_r`):
[code]

From what I understand, this is because you didn't build the resources.

[2020-12-30 15:53] okias commented on #1302
If it's really this one, I think engine should report missing resources nicer way (since this is hell on earth and not mentioning Doom).. just going to create bug for the `convertor`

[2020-12-30 15:56] okias opened #1350 "[convert assets] AttributeError: 'UnionPath' object has no attribute 'debug_info'"
[code]

[2020-12-30 17:00] okias commented on #1279
I can confirm with AoE 1.0c Conquerors with 0.4.1.

[2020-12-30 17:02] okias opened #1351 "Tokenizing empiresdat led to xx columns (expected 49)!"
Flatpak build, data converted with 0.4.1. Ignore wayland warnings, it's harmless.

[code]

[2020-12-31 12:33] TheJJ commented on #1351
This error is a discrepancy between the converted (old format) data and the generated parsing code. Since we got rid of the csvs in favor of nyan, it's not worth fixing this error :)

[2020-12-31 12:33] #1351 closed

[2020-12-31 12:52] okias commented on #1351
Ok, can be this somehow be propagated to the user more expressively (imagine user upgrading from 0.4.1 to 0.5.x)? Like warning saying "You're using old data format, please remove and update"?

[2020-12-31 13:06] TheJJ commented on #1351
That's what is done #1352 :)

[2020-12-31 13:21] okias commented on #1351
You can references bugs in PR/MR's users can nicely track what's related to what. Also "Closes: bug_url" automatically closes bug when PR is merged.

Thank you! :)

[2020-12-31 13:32] okias opened #1353 "Converter crash "FileNotFoundError(b'/'.join(parts))""
After applying PR https://github.com/SFTtech/openage/pull/1352 , I got further, but still conventer crashes in next step. With exactly identical game directory converter worked well with `0.4.1`.
[code]

[2020-12-31 19:08] heinezen commented on #1353
That's weird because `cfg/converter/games/game_editions.toml` is a file from the repo and should definitely show up. It ran perfectly through on my end too, but I'll test again.

[2020-12-31 19:50] heinezen commented on #1353
Followed the same steps after fetching your PR, but I don't get the error. Strange.

What is weird is the terminal output you got here:

[code]

It should say `converting from '/home/username/Mygames/aoe2'` (the full path). Maybe there's something wrong with this.

[2020-12-31 19:51] okias commented on #1353
I used cached value, but I'll try to write full path again...

[2020-12-31 19:56] okias commented on #1353
when I explicitly write the path again, it shows whole path, but fails same way.

[2021-01-01 16:22] yaaaaa opened #1354 "Request future releases is bin format too."

[2021-01-01 16:52] TobiasFP commented on #1354
Could you please elaborate?, i do not understand the request.

[2021-01-01 16:56] yaaaaa commented on #1354
I mean it would be nice to give interested people the ability to run releases without having to build them.

[2021-01-01 18:02] TobiasFP commented on #1354
Ok. Are you missing anything in particular in these packages?
https://openage.sft.mx/

[2021-01-01 18:21] yaaaaa commented on #1354
Oh, yes, closing it now.

[2021-01-01 18:21] #1354 closed

[2021-01-01 20:01] TobiasFP commented on #1350
This has to do with the new gamestate not fully in place. and relates to string_resources.docx, gamedata.docx, player_palette.docx and termcolors.docx (This one in particular relates to the termcolors.docx.

[2021-01-01 20:03] heinezen commented on #816
https://pad.stusta.de/p/openage-components

[2021-01-01 20:03] #1350 closed

[2021-01-02 11:27] LinuxDonald opened #1355 "KeyError: 208"
[code]

[2021-01-03 05:45] heinezen commented on #1355
Thx. Should be fixed in https://github.com/SFTtech/openage/pull/1356

[2021-01-03 17:00] #1050 closed

[2021-01-04 08:23] heinezen commented on #188
Superceeded by https://github.com/SFTtech/openage/issues/1287 and implemented in https://github.com/SFTtech/openage/pull/1324

[2021-01-04 08:23] #188 closed

[2021-01-06 22:17] #1316 closed

[2021-01-06 22:17] #1355 closed

[2021-01-06 22:48] #1353 closed

[2021-01-06 22:48] heinezen commented on #1353
Fixed by https://github.com/SFTtech/openage/pull/1352

[2021-01-06 22:54] LinuxDonald commented on #1355
openage
INFO [py] launching openage v0.4.1-397-g4d76ce017
INFO [py] compiled by GNU 10.2.0
  Do you want to convert assets? [Y/n]

  Should we call wine to determine an AOE installation? [Y/n]

Could not find any installation directory automatically.
Please enter an AOE2 install path manually.

converting from '/home/schatzi/nvme/Steam/steamapps/common/AoE2DE'
INFO [py] Game edition detected:
INFO

[2021-01-07 03:01] heinezen commented on #1355
@LinuxDonald fixed in https://github.com/SFTtech/openage/pull/1359

[2021-01-08 12:32] LinuxDonald opened #1360 "Git master not compitable with git master asset convertered files?"
[code]

[2021-01-08 15:05] TheJJ commented on #1360
This is intentional :) The exported and converted files for the nyan database do work, but running a game with it is not yet implemented.

We could not commit both changes at the same time since the game state implementation is still pending, so that's why it's currently broken.

[2021-01-08 15:05] #1360 closed

[2021-01-08 15:19] TheJJ commented on #1302
We now have a error message in place, so I think we can close this :D
The reason is, as you said, that the converter is now new and in the engine isn't (yet).

[2021-01-08 15:19] #1302 closed

[2021-01-20 12:48] #1311 closed

[2021-01-20 12:48] #1338 closed

[2021-01-21 16:03] heinezen opened #1369 "Speed up converter terrain merging with Cython"
**Required skills:** Cython, Python

**Difficulty:** Easy

The terrain textures in AoC and SWGB are stored as isometric\* tiles (see https://github.com/SFTtech/openage/issues/141 for an example). In the converter, we merge all these tiles together to get the cartesian projection of the texture (which is also used in the HD Edition). The cartesian projection has many advantages, the main one being

[2021-01-21 22:05] TheJJ opened #1370 "Use cython fused types (templated functions) to remove redundancy from smp.pyx and smx.pyx"
**Required skills:** Cython

**Difficulty:** Medium

SMX is the graphics storage format in AoE2:DE. We export these files to PNG in the converter.

Because of the different storage formats and layers, the `process_drawing_cmds` function exists 3 times in smp.pyx, and 5 times in smx.pyx, both in `openage/convert/value_object/read/media/`.
We can use **one generic function** (one for `smp`, one for

[2021-01-22 18:22] heinezen opened #1371 "Speed up converter texture packing with Cython"
**Required skills:** Cython

**Difficulty:** Medium

Animation frames from AoE2 graphics files are packed into a texture atlas by the openage converter. We use [bin packing](https://en.wikipedia.org/wiki/Bin_packing_problem) to find the optimal arrangement (= smallest atlas dimensions) of the frames in the atlas. Bin packing becomes computationally intensive if a lot of frames are packed (looking

[2021-02-12 10:09] Hywan commented on #1306
macOS supports `open_memstream`. I'm reading this issue because Windows doesn't, but I use this function on macOS with no issue.

[2021-03-20 20:07] #1306 closed

[2021-03-20 20:27] heinezen opened #1376 "Speed up PNG compression trials with in-memory files"
The converter has support for optimizing PNG compression like [OptiPNG](http://optipng.sourceforge.net/) by trying to compress a file several times (each with different compression parameters) and choosing the result with the smallest file size. Currently, we initialize each trial by getting a file pointer from `libc.stdio.tmpfile` and writing to that file. `libpng`'s standard output path asks for

[2021-03-26 05:25] zehuilu commented on #1369
Hello, can I take this?

[2021-03-26 12:58] TheJJ commented on #1369
Sure, you can just submit an early pull request and get help in the chatroom :)

[2021-03-29 00:41] heinezen opened #1377 "New Gamestate: Drafts"
Collection of drafts and notes about the new gamestate. The information does not follow a particular structure yet, so some things might not be understanddable right away. Don't hesitate to ask questions in that case.

* Entity: https://hedgedoc.rbg.tum.de/bhIBok2YR8uiFhevqTCWJQ?view
* Components: https://pad.stusta.de/p/openage-components
* Systems: https://pad.stusta.de/p/openage-systems
* Activ

[2021-06-01 09:03] heinezen commented on #1377
Managers visualization:

![grafik](https://user-images.githubusercontent.com/6852422/120297026-fc797c80-c2c8-11eb-94ae-532d60e4f9b7.png)

[2021-07-03 13:35] wlata opened #1391 "Asset converter - missing slp?"
Hi everyone,

_It's my first time at Github, so apologies in advance if I'm doing something in a wrong place etc etc._

Recently I built the game and tried to convert the assets from Age of Empires TC w/ FE installed, Age of Empires HD 2013 (both the newest version and 4.3 - as some do recommend) and AoE2 DE. All failed.

### The output of "make run":
[code]

### Some facts:
- this is the conversi

[2021-07-03 14:10] heinezen commented on #1391
Hey thanks, the HD converter is actually missing a feature here. That's why it fails. The HD converter uses the AoC converter as its backbone. The file it complains about contains a terrain texture, which is stored as an SLP in AoC, but as a PNG in HD.

The fix would be to get the filename from the data and copy the file.

You can try making te fix if you want :) https://github.com/SFTtech/openage

[2021-07-04 21:21] wlata commented on #1391
I am inspecting how the converter and the assets themselves work, it might take me a while.

And here's the output for DE. (I've got no DLCs if it plays any role)

`

Could not find any installation directory automatically.
Please enter an AOE2 install path manually.

converting from '/run/media/user/7A58CF8158CF3AA1/Steam/steamapps/common/AoE2DE'
INFO [py] Compatible game edition detected:
INFO [

[2021-07-06 19:42] heinezen commented on #1391
Not having the DLC might play a role. Although it might be an update that's causing the issue. I'd have to check.

[2021-07-09 21:39] okias opened #1394 "Shipping to the "customers""
Hey guys,

I know you perceive OpenAge like a code, where you can learn, design and play with new tech (well, it's not so new these days since time passed) but I was wondering, if it wouldn't make sense to release something, maybe not perfectly designed, but playable.

I already heard argument, that we can play AoE in wine, but I (and I believe so many people) would like to play some AoE in Linux

[2021-07-12 10:46] TheJJ commented on #1394
hai! thank you for your patience :) don't loose hope, things will become better and better!
the problem is, creating a strategy game such as aoe is really not that easy, and we're all volunteers with other occupations (me for example currently doing my PhD). so people need a good motivation for this project. probably everyone sees that differently. if you just want to play aoe, you can use wine an

[2021-07-13 15:58] #1394 closed

[2021-07-15 23:35] heinezen commented on #1391
The DE2 thing should be fixed in https://github.com/SFTtech/openage/pull/1395

[2021-08-14 17:15] thierry-FreeBSD opened #1397 "Build error: FAILED: py/pxdgen_timefile"
Trying to build  v0.4.1 on FreeBSD, I get the following error:
[code]

[2021-08-16 10:31] TheJJ commented on #1397
This is due to an update in pygments, which we fixed in 3aa91ea4d4a72a5f3b6f90ad0390b9e07de7aa77, which is not included in any release yet.

[2021-08-16 20:14] thierry-FreeBSD commented on #1397
Thanks, it fixed the error!

[2021-08-17 17:12] duanqn opened #1399 "Ubuntu 20.04 cloud build failure"
Hi folks,
Can someone help me diagnose this build failure? https://github.com/duanqn/openage/runs/3353050745?check_suite_focus=true
The CI workflow is here: https://github.com/duanqn/openage/actions/runs/1140126626/workflow

[2021-08-17 17:14] duanqn commented on #1399
Seems like the error is in Cython / C++ interaction part.

[2021-08-20 12:31] TheJJ commented on #1399
First error is
[code]

It used Cython `0.29.14`, which is quite old, but it looks like generated code that the cpp compiler doesn't like. My first attempt would be to update cython...

I've updated our kevin image to latest debian sid, which has cython `0.29.21`.

[2021-08-20 13:30] heinezen commented on #1399
I'll try tro handle it today. Looks like we need to bump some version numbers.

[2021-08-20 14:41] duanqn commented on #1399
@TheJJ  @heinezen  Thanks. I'll try upgrading the Cython version. I was borrowing the docker setup script from #1357 .

What are your opinions about this? Do you think a CI pipeline with GitHub Actions could solve the problem of setting up dev environments? People can push their code to GitHub and trigger a build on their branch, and the pipeline will publish the build artifacts, maybe a .deb pack

[2021-08-20 16:07] duanqn opened #1401 "<concepts> header causes build breaks in openage"
From https://github.com/duanqn/openage/runs/3383699397?check_suite_focus=true

[code]

[2021-08-20 16:13] duanqn commented on #1399
https://github.com/duanqn/openage/runs/3353050745?check_suite_focus=true
I tried upgrading Cython to 0.29.24, but it didn't get better.
Also found the new nyan code breaks the build. Does it require C++ 20? Filed an issue at SFTTech/nyan#93 .

[2021-08-20 16:20] duanqn commented on #1399
Created a PR #1400 to address the pxdgen issue when I upgrade python package versions.

[2021-08-21 11:46] duanqn commented on #1401
Sounds like a huge task to move to C++20... But I've succeeded with Ubuntu.
https://github.com/duanqn/openage/runs/3389004021?check_suite_focus=true

[2021-08-21 14:19] TheJJ commented on #1401
Yes, nyan now requires c++20, so openage also has to support this :)

[2021-08-21 14:20] TheJJ commented on #1401
Ah the issue is now in the openage repo, didn't know issue transfers are even posible. We'll leave it open until we've fixed it.

[2021-08-21 17:23] TheJJ commented on #1401
Ok, now fixed with #1402 :)

[2021-08-21 17:23] #1401 closed

[2021-08-23 07:22] heinezen commented on #1399
PR is merged, so I assume it's fixed?

[2021-08-23 08:14] duanqn commented on #1399
Yeah the problem disappears in Ubuntu 21.04 and gcc 11. So I guess this can be closed.

[2021-08-23 08:14] #1399 closed

[2021-08-28 19:00] TheJJ commented on #279
I added some words about setting up emacs in [/doc/ide/emacs.md](https://github.com/SFTtech/openage/blob/master/doc/ide/emacs.md).

[2021-08-30 09:45] TheJJ commented on #279
I think we can close this, since there's now the ide doc folder in the repo and additions for any relevant IDE can simply be added there. Since it's not clear when this issue would resolve as there's probably arbitrarily many IDEs, specific setups should be requested as separate issues and addressed there.

[2021-08-30 09:45] #279 closed

[2021-09-07 15:52] duanqn opened #1412 "Implement Activity"
This issue tracks the implementation of Activity component of the new gamestate.
Design document: https://pad.stusta.de/p/openage-activity-system

[2021-09-14 04:12] AvidDrawer opened #1413 "Compilation issues (Ubuntu 20.04)"
I'm seeing undefined type errors when I run make in bin/openage/convert/processor/export/texture_merge.cpp

The following symbol is undefined- **__pyx_ctuple_unsigned__space_int__and_unsigned__space_int**

I couldn't find an include file that has the definition but did find it in this source file- bin/openage/convert/service/export/png/binpack.cpp

However this file is not listed as a dependency i

[2021-09-14 05:06] heinezen commented on #1413
This file is generated by Cython. It's generated from the `texture_merge.pyx` file in the source folder.

What cython version did you use?

[2021-09-14 07:12] AvidDrawer commented on #1413
Cython version- 0.29.14

Will have a look at the python file later today and will update if I see something.

[2021-09-14 12:02] TheJJ commented on #1413
Please try to use a newer Cython, this looks like a pyx code generation issue.

[2021-09-14 14:34] duanqn commented on #1413
I saw this error before, but I solved it by upgrading to Ubuntu 21.04 and gcc-11.

[2021-09-15 02:16] AvidDrawer commented on #1413
@duanqn As you suggested, upgrading to 21.04 helped. I'm not sure if it was the upgrade alone that fixed it though. I removed the ./bin directory to run make on a clean tree.

Sadly, I can't run steam on virtual box. Gotta get another hard drive before I can start toying around with the repo (the windows dependency installation is a terrible experience, even with vcpkg).

Thanks for the assistance

[2021-09-15 02:16] #1413 closed

[2021-09-24 14:40] #1391 closed

[2021-09-25 13:52] duanqn commented on #1413
@AvidDrawer I'm working on some build pipelines with GitHub Actions. You might want to take a look at this successful build on Windows: https://github.com/duanqn/openage/actions/runs/1272716573.
For Ubuntu, I have some successful builds with gcc-10, e.g. https://github.com/duanqn/openage/actions/runs/1234090779. I'm still working on some build issues with gcc-11.
I exported the build artifacts. Yo

[2021-09-27 15:18] AvidDrawer opened #1418 "Update python dependency check (windows) ?"
Building openage in windows throws a bizarre python path finding issue (partial cmd output)-
[code]

There exists a FindPython module in ./buildsystems/modules which fails due to the following code (line 58). If I were to skip this check, then the build completes successfully.
[code]

PS. I am working in Ubuntu now. Thought I'd give the windows build a try after @duanqn mentioned he had some succe

[2021-09-27 15:38] #1418 closed

[2021-09-27 15:41] duanqn commented on #1418
I add `-DCMAKE_TRY_COMPILE_CONFIGURATION=Release` to work around that.
P.S. You are welcome to look at https://github.com/SFTtech/openage/pull/1411/files and check the commands I used.

[2021-09-28 04:03] simonsan commented on #1201
Was this resolved by #1415 ?

[2021-09-28 09:32] heinezen commented on #1201
@simonsan I think so.

[2021-09-28 09:32] #1201 closed

[2021-09-29 21:35] laenion opened #1419 "no valid converter found for game edition Age of Empires 2: Age of Kings"
When trying to use openage with the German retail version of _Age of Empires II: The Age of Kings_ from the _Age of Empires II: Gold Edition_, then the asset conversion fails with the following output:

[code]

I've tried to extract the game files with cabextract directly from disc, used the installation directory from a Windows 98 machine as a source and tried with and without copying the data fi

[2021-09-29 23:32] heinezen commented on #1419
Age of Empires II: The Age of Kings (without the expansion The Conquerors) is unsupported. The reason is that the data formats between the base game and the expansion is different and we figured that most people own the expansion anyway. Actually, *The Conquerors* is part of the Gold Edition too, so you should extract its files and copy them into the same installation directory as the base game. T

[2021-09-30 16:27] heinezen commented on #1419
https://github.com/SFTtech/openage/pull/1420 should fix the missing error handling :)

[2021-09-30 16:27] #1419 closed

[2021-10-01 12:39] heinezen opened #1422 "More detailed log of converted media files"
**Required skills:** Python

**Difficulty:** Easy

openage converts the proprietary asset formats of the original games' releases to open asset formats like PNG, OPUS, and so on. During conversion, an original file (source files) are parsed and a new file (target file) is exported to the destination of the openage modpack created by the converter. Currently, the conversion of a single media file i

[2021-10-01 12:55] heinezen opened #1423 "Display conversion progress"
**Required skills:** Python

**Difficulty:** Easy

For the initial asset conversion, openage provides textual output to signal which stage of conversion has been reached. The output usually looks like this:

[code]

However, some of these stages can take a while to complete. For example, the whole `Exporting media files...` stage can take up to 20 minutes. For these stages, it would be nice to hav

[2021-10-02 04:54] deepakdinesh1123 commented on #1422
Does this mean that the information should be added to the logfile for all the export functions called or it should be logged at debug level in the shell?

[2021-10-02 12:09] heinezen commented on #1422
@deepakdinesh1123 To the shell. We don't log the information to file yet.

[2021-10-02 12:47] deepakdinesh1123 commented on #1422
can you please provide a template according to which the  information must be logged?

[2021-10-02 13:08] heinezen commented on #1422
@deepakdinesh1123

Something like:

[code]

[2021-10-03 17:32] jochenrui commented on #1423
hi there, can I try this for my first issue ? :)

[2021-10-03 20:43] heinezen commented on #1423
@jochenrui Sure, contribution is welcome :)

If you have any questions not answered by the issue, you can also come by in our chatroom (see the project readme for infos).

[2021-10-04 15:50] deepakdinesh1123 commented on #1422
`
        source_format = export_request[export_request.source_filename.rindex("."):]
        source_size = os.path.getsize(source_file)
        target_size = os.path.getsize(export_request.targetdir+export_request.target_filename)
        logging.basicConfig(level=logging.DEBUG)
        logging.debug(f"Source File:{export_request.source_filename} ({source_format}, {source_size}) -> Target File:{e

[2021-10-04 18:01] heinezen commented on #1422
@deepakdinesh1123 Hey, I see you already made a PR :) We usually discuss code in there. I will reopen it and make some comments.

[2021-10-07 19:51] jochenrui commented on #1423
@heinezen have you seen this error before during configuration? I followed the instructions on https://github.com/SFTtech/openage/blob/master/doc/build_instructions/macos.md

[code]

[2021-10-07 19:52] heinezen commented on #1423
@jochenrui I think the macOS clang compiler doesn't support C++20 features yet. Can you try with gcc?

[2021-10-07 20:03] jochenrui commented on #1423
@heinezen sorry about that. I'll try to get it running on macos first, maybe this would make for a good addition to the build_instructions file for macos :D

[2021-10-07 21:09] heinezen commented on #1423
@jochenrui Well, that's fine by me then :)

[2021-10-07 22:01] TobiasFP commented on #1423
If you get stuck or need inspiration, there has been made a dockerfile that uses an Ubuntu image to build the system, which could be of use:
https://github.com/SFTtech/openage/pull/1357

[2021-10-13 15:21] duanqn commented on #1423
@jochenrui If you want to try Windows, I have a successful build here: https://github.com/SFTtech/openage/runs/3883281983.
You can look at [the YAML file](https://github.com/SFTtech/openage/blob/master/.github/workflows/windows-server-2019.yml) for the exact steps.

[2021-10-26 01:56] cagelight opened #1428 ""Exporting media files..." fails for Galactic Battlegrounds"
openage v0.4.1-690-gbf0094c1
compiled by GNU 11.1.0
<details>
 <summary>Full error log</summary>

[code]
</details>

[2021-10-26 12:41] #1428 closed, assigned to nobody

[2021-11-09 19:16] heinezen opened #1431 "Introduce Type hinting (Python)"
**Required skills:** Python

**Difficulty:** Easy

The documentation of the Python module could be improved by adding type hinting to the method and member declarations. [Type hinting](https://docs.python.org/3/library/typing.html) is Python's way of "defining" the type of an input variable (since Python is not strictly typed, this is technically just a recommendation). While useful for documentat

[2021-11-10 15:49] simonsan commented on #1431
MokeyType can help with that :)

https://github.com/Instagram/MonkeyType

[2021-11-18 12:34] sarcXD opened #1433 "Cannot specify compile definitions for target "SDL2::SDL2" which is not built by this project"
Hi, I got interested in contributing to this project, and was in the section of building my dev environment. I wanted to report/seek help on this really annoying issue I came across. It doesn't seem to be popular enough to have any posts online either so I'm hoping its easily resolvable. I have also spent a huge chunk of time trying to resolve this myself, going through issues on this repo, as wel

[2021-11-18 20:53] heinezen commented on #1433
Thanks for the detailed description so far. You don't always get that in bug reports :)

Can you post the cmake log files, too? They should be located in `bin/CMakeFiles/CMakeError.log` and `bin/CMakeFiles/CMakeOutput.log`. Maybe we can figure out what's wrong when looking at them.

[2021-11-19 05:11] sarcXD commented on #1433
thank you :)
I have edited my post to upload the files you requested, hope it helps

[2021-11-19 08:59] heinezen commented on #1433
@sarcXD I don't see the error message in the log... which is odd.

Have you cleaned the build directories before running `configure` again? You can do that by running

[code]

in the source directory. This will clean the cmake cache of the previous unsuccessful builds. Sometimes this helps eliminating errors.

Other things you can try:

1. I see you are using a standalone cmake version that's newe

[2021-11-19 15:42] sarcXD commented on #1433
@heinezen so, I did try to:
1. run make cleanbuilddirs
2. removed firstly, all cmake versions I had, made sure to remove all files
2.1 I installed the one ubuntu uses, tried that and didn't work
2.2 I tried 2 of the latest releases by downloading and installing the precompiled versions, one at a time and tried with them, I  get the same error for that.

The one thing that I did see, was related to

[2021-11-19 17:58] sarcXD commented on #1433
Hi, so after extensively looking into this I figured out the problem with this exact bug. While this has been extensively discussed and fixed [here](https://discourse.libsdl.org/t/how-is-sdl2-supposed-to-be-used-with-cmake/31275/16). The main crux of this was that the issue was with the statement **SDL2::SDL2**. To be specific, this exact functionality, presently whilst works for a bunch of OS, do

[2021-11-19 18:09] TobiasFP commented on #1433
If you send me a bash dump i can dockerise the build process of the libraries

[2021-11-19 20:18] TobiasFPJS commented on #1300
Wayland also provides x11 compatibility.
Wayland is still betaware (although it is my daily driver, sway).
I personnally suggest not bothering, as anybody who is running wayland, also has quick access to an x11 powered UI.
Come time to launch in a year or two, and we can talk about fixing wayland support.
I am just somebody who has made a single contribution, so I am not in a position to make deci

[2021-11-20 06:09] sarcXD commented on #1433
@TobiasFP can you please explain abit more on how and what specifically I need to send you with regards to the bash dump? I have managed to resolve all the issues I was facing and have set up the project now.

[2021-11-20 06:34] sarcXD commented on #1433
@heinezen i've added an entry in the troubleshooting doc in a fork I made, and created a pull request for it  #1434
Hope it helps :)

[2021-11-20 06:55] sarcXD opened #1435 "Make fails with python/cython error: undefined reference to pthread_*, sem_*, dl*"
Hi, I came across this particular issue (that I have resolved[found a workaround for]) in the make stage where what I think are the python modules (cython I imagine), fails to find these respective libraries that it gives an error for.
### Environment
* Ubuntu 20.0.4
* cmake 3.22.0
* gcc 10.3.0
* python 3.6.10 using pyenv (a virtualenv/python installation handler)
### Error
[code]
### Workaround/F

[2021-11-20 14:59] heinezen commented on #1433
@sarcXD Thanks for diggng so deep! Looks like the old SDL version is indeed the problem.

[2021-11-20 15:16] TheJJ commented on #1433
thanks for your findings!
first thing i wonder why it does work on our ci then. can you investigate, what target name is available for use?
if there is an alternative, we can check for its existence and use it instead. i don't think its worth pulling sdl sources manually just for this.

[2021-11-21 12:28] TheJJ commented on #1435
its true that we never tried using some python environment except the system one, since all the dependencies are usually packaged properly. but we can add support for that, why not.
i think we basically have to respect an environment-set python executable and do use it?

[2021-11-21 14:49] sarcXD commented on #1433
@TheJJ I can take a further look into this,
a. I have 1 or 2 reasons that come to mind but need to look into the ci setup to understand why it would/would not work.
b. As for alternatives to the current approach id need to look into the options CMake allows us, so once I've done a, I can check this.

[2021-11-21 14:58] sarcXD commented on #1435
@TheJJ yep. I am not sure how one would go about doing that, I imagine this would be done in cmake, but given how many tools allow this, I don't think this would be a difficult thing to implement.

[2021-11-21 23:10] heinezen commented on #1433
@sarcXD The solution could be a simple

[code]

until the changes arrive in the LTS repos.

[2021-11-22 01:53] duanqn commented on #1433
@sarcXD Thanks for the great analysis! Our Ubuntu CI: https://github.com/SFTtech/openage/actions/workflows/ubuntu-21.04.yml
We installed libsdl2-dev from apt. The corresponding file is located at .github/workflows/ubuntu-21.04.yml . Looks like somehow we did not catch this issue. Maybe Ubuntu upgraded the SDL package version?

So -- the conclusion is that we should use the latest version (2.0.16 c

[2021-11-22 02:03] heinezen commented on #1433
@duanqn As far as I can see from the forum thread, SDL2 2.0.12 is the version that fixed the issue by including `SDL2::SDL2` in the alternative cmake config.

[2021-11-22 06:19] sarcXD commented on #1433
@duanqn yes, so based on the ubuntu package repo, these are the versions each release uses:
* ubuntu focal (20.04) -> sdl 2.0.10
* ubuntu groovy (20.10) -> sdl 2.0.12 (as heinezen mentioned, this has the fix)
* ubuntu hirsuite (21.04) -> sdl 2.0.14 ( Current CI/CD base )

@TheJJ So, this is probably why the ci workflow works fine

[2021-11-22 15:16] sarcXD commented on #1433
@heinezen I am trying to set it up as you suggested and based off of what i saw as suggested from the link I posted.
The steps I follow are:
1. trying to use `SDL2::SDL2` if available.
2. If not I try to use the findSDL2.cmake file using find_package.
3. If that does not work I try to use FindPkgConfig which is what a user had suggested. For this I had to include my sdl2,sdl2 image.pc file paths.

[2021-11-23 03:49] duanqn commented on #1433
@sarcXD Thanks for the great work!
Just my two cents -- do we want to add minimum version 2.0.12 for SDL2? This looks simpler and I think 2.0.12+ will be generally available in the near future, considering Ubuntu 22.04 will be released soon. @TheJJ
Also, there was a `findSDL2.cmake` before I deleted it in #1407 . It might be helpful if we want to support legacy versions of SDL2.

[2021-11-23 09:53] dlejay opened #1436 "macOS installation instructions: no cask font-dejavu-sans"
It seems that homebrew no longer has a `font-dejavu-sans` cask:

[code]

[2021-11-23 15:07] sarcXD commented on #1313
Hi, I can try taking a look at this. Should I discuss this in matrix chat or here is fine?

[2021-11-23 19:19] heinezen commented on #1313
@sarcXD You can discuss it here, then it doesn't get lost in the chat :)

[2021-11-23 19:27] heinezen commented on #1433
@duanqn Well, "soon" is still a rather long time in this case :D But I think requiring SDL 2.0.12 would be okay in this case, although it's not great to up the depedency just because of cmake problems. If we can find an easy workaround that works similarly to what @sarcXD proposed above, then we should also try to support older versions of SDL2.

[2021-11-23 23:44] dlejay commented on #1436
One gets
[code]

Which one should be installed?

[2021-11-24 02:32] #1436 closed

[2021-11-25 14:07] sarcXD commented on #1313
understood, I'll take my time going through this in detail, and post any questions that come up

[2021-11-26 05:37] sarcXD commented on #1313
Hi @heinezen I have been going through the mentioned links and the game code and I have a couple of questions.
1. What exactly does the api loader file have, are those nyan objects that are related to the game state? I see that this is used by the converter processor to load the objects that are created in the `nyan_api_loader.py` file to a `dataset.nyan_api_objects`. What do these nyan_api_object

[2021-11-26 06:18] heinezen commented on #1313
The nyan objects defined in the file are the engine API for the gamestate. [This blogpost](https://blog.openage.dev/d0-openage-modding-api-introduction.html) describes how it works in general, although not everything written there is up-to-date.

In short: Data for a game is defined by inheriting from the API objects.

nyan has its own file language that should be parsed. [See here](https://github

[2021-11-26 12:05] heinezen commented on #1313
@sarcXD I realized that https://github.com/SFTtech/openage/issues/1313#issuecomment-979722704 might need more explanation for how nyan is integrated into the engine :D

When discussing nyan, we have to differentiate between its two components: nyan the database (aka nyandb), and nyan the language/notation. nyandb stores and updates the gamestate during a game in an object oriented data model. The

[2021-11-29 11:09] TheJJ commented on #1313
I think the best way would be to implement this feature in nyan, since also has nearly all the necessary parts.
Basically nyan would need a feature to provide api information from nyan file(s): parsing it, and returning the structure/types/... conveniently.

The downside of this approach is that we would depend on libnyan at convert time, which wouldn't be too bad, but makes the converter depend o

[2021-12-04 13:52] duanqn opened #1438 "Python 3.10 breaks build"
[FindPython.cmake](https://github.com/SFTtech/openage/blob/master/buildsystem/modules/FindPython.cmake) assumes python minor version is single digit.

[2021-12-04 15:36] duanqn commented on #1438
Another reason: https://github.com/pyreadline/pyreadline/issues/73

[2021-12-25 05:36] A11Ybot-OP opened #1441 "Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (p:nth-child(1))"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
p:nth-child(1)
#### Snippet
`<p>openage is a <a href="https://www.gnu.org/licenses/gpl-3.

[2021-12-25 05:36] A11Ybot-OP opened #1442 "Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (p:nth-child(2))"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
p:nth-child(2)
#### Snippet
`<p>Using modern technologies as C++17, OpenGL/GLSL, Python,

[2021-12-25 05:37] A11Ybot-OP opened #1443 "Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (p:nth-child(3))"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
p:nth-child(3)
#### Snippet
`<p>Our aim is to make openage a platform for the original Ag

[2021-12-25 05:37] A11Ybot-OP opened #1444 "Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (.indented:nth-child(4))"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
.indented:nth-child(4)
#### Snippet
`<p class="indented"><b>Modding:</b> openage uses an

[2021-12-25 05:38] A11Ybot-OP opened #1445 "Website Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (b)"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
.indented:nth-child(4) > b
#### Snippet
`<b>Modding:</b>`
#### How to fix
    Fix any of

[2021-12-25 05:40] A11Ybot-OP opened #1446 "Website Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (.indented:nth-child(5))"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
.indented:nth-child(5)
#### Snippet
`<p class="indented"><b>Multiplayer:</b> We implement

[2021-12-25 05:40] A11Ybot-OP opened #1447 "Website Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (b)"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
.indented:nth-child(5) > b
#### Snippet
`<b>Multiplayer:</b>`
#### How to fix
    Fix any

[2021-12-25 05:43] A11Ybot-OP opened #1448 "Website Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (p:nth-child(6))"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
p:nth-child(6)
#### Snippet
`<p>openage is a community project that values every contribu

[2021-12-25 05:45] A11Ybot-OP opened #1449 "Website Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (a[href$="forum\.openage\.dev"])"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
a[href$="forum\.openage\.dev"]
#### Snippet
`<a href="https://forum.openage.dev" id="butt

[2021-12-25 05:46] A11Ybot-OP opened #1450 "Website Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (a[href$="blog\.openage\.dev"])"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
a[href$="blog\.openage\.dev"]
#### Snippet
`<a href="https://blog.openage.dev" id="button

[2021-12-25 05:48] A11Ybot-OP opened #1451 "Website Accessibility-WCAG 1.4.3: Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds (a[href$="chat\.openage\.dev"])"
#### Issue
`Ensures the contrast between foreground and background colors meets WCAG 2 AA contrast ratio thresholds` ([color-contrast](https://accessibilityinsights.io/info-examples/web/color-contrast))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
a[href$="chat\.openage\.dev"]
#### Snippet
`<a href="https://chat.openage.dev" id="button

[2021-12-25 05:49] A11Ybot-OP opened #1452 "Website Accessibility-WCAG 4.1.1: Ensures every id attribute value of active elements is unique (.code)"
#### Issue
`Ensures every id attribute value of active elements is unique` ([duplicate-id-active](https://accessibilityinsights.io/info-examples/web/duplicate-id-active))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
.code
#### Snippet
`<a href="https://repo.openage.dev" class="code" id="button">View the Code</a>`
#### How to fix
    Fi

[2021-12-25 05:49] A11Ybot-OP opened #1453 "Website Accessibility-WCAG 3.1.1: Ensures every HTML document has a lang attribute (html)"
#### Issue
`Ensures every HTML document has a lang attribute` ([html-has-lang](https://accessibilityinsights.io/info-examples/web/html-has-lang))
#### Target application
[openage - free, modern RTS game engine](https://openage.sft.mx/)
#### Element path
html
#### Snippet
`<html>`
#### How to fix
    Fix any of the following:
      The <html> element does not have a lang attribute
#### Environment

[2021-12-26 07:09] cfunes401 opened #1454 "How can I install openage with the AOE II HD from Steam?"
Hello I don't known how to install openage with AOE of Steam: ( Sorry for my bad English)

[2021-12-30 00:48] karakune opened #1455 "[Windows 10] Cannot build the project, python installation not recognized"
I'm trying to build OpenAge on Windows x64. I can't for the life of me manage to make the python finder work. I keep getting this error, even after reinstalling python multiple times.
![image](https://user-images.githubusercontent.com/20135188/147713092-f307415a-d734-4ae3-9723-cd3a392877fc.png)

So first I tried with Python3.7, since it was installed beforehand on my computer. When that didn't wor

[2021-12-30 05:22] duanqn commented on #1455
1. Openage currently does not support Python 3.10. This is a known issue. #1438
2. You can find the successful build commands here: https://github.com/SFTtech/openage/blob/master/.github/workflows/windows-server-2019.yml
3. From my experience, the most likely reason for your failure is that you didn't use `-DCMAKE_TRY_COMPILE_CONFIGURATION=Release`. Openage uses a `try_compile` to determine whethe

[2022-01-04 17:31] TheJJ commented on #1454
Did you have a look at our installation documentation already?

[2022-01-04 17:56] TobiasFP commented on #1454
Dear Cfunes.
Installing Openage is currently something that only benefits developers, since the game is not playable at the moment.
If you want to contribute and have looked at the documentation, please inform us at least the following:
What have you tried already to get it up and running?
What OS are you on?(Linux, MacOS, indows)

[2022-01-10 00:00] CountOmega commented on #1322
I created a debian build directory, but my rules files doesn't pass the configure options. rules file:

[code]
What am I missing here?

[2022-01-10 19:30] TheJJ commented on #1454
I'll close this due to inactivity, but feel free to comment here again for further help (or ask in the chatroom).

[2022-01-10 19:30] #1454 closed

[2022-01-25 09:14] thierry-FreeBSD commented on #1397
Hmm... Either my tests were bad, or something has changed, but it still fails with pygments 2.9.0 and your patch:
[code]

[2022-01-26 06:17] CountOmega opened #1458 "[Linux] build error"
cloned the repo and configured it. when running make I get the following error:

[code]
Then the build fails. OS is debian testing and gcc 11

[2022-01-26 15:28] TheJJ commented on #1458
I mean it's true that we don't pass a format string to [`mvprintw`](https://linux.die.net/man/3/mvprintw), which _could_ be a problem if the user could enter arbitrary `msg`s.
Since I don't see a function like `mvput`, we probably have to introduce a artificial format string to make the compiler happy and prevent format-string-interpretation of generated input:
* `mvprintw(a, b, c)` -> `mvprintw(a

[2022-01-26 16:39] TheJJ commented on #1397
Hmmm. Can you run:
[code]

and play around with the pdb that will catch the error and see which condition would be correct?
i.e. with my patch the failure condition is `if token not in Token.Name:`, so we need to test if this is right.

[2022-01-28 09:42] thierry-FreeBSD commented on #1397
Sorry, my mistake: your patch works fine against Pygments-2.9.0, and the reported failure was on a machine running Pygments-2.11.2 !

[2022-01-28 11:17] TheJJ commented on #1397
Ok, but why does it work with my pygments 2.12, your 2.9, but not with 2.11?

[2022-01-28 17:39] thierry-FreeBSD commented on #1397
I don't know, maybe because we use a different Python version? (ATM FreeBSD ports still use Python 3.8).
With Pygments-2.11.2 I have been able to reproduce the error on my workstation:
[code]

[2022-01-28 18:31] TheJJ commented on #1397
Interesting, so it really does parse a whitespace there, and not a namespace identifier. I suggest you update the code in pxdgen to see which tokens are processed one after the other, so we can see where it miss-parses things. Maybe it was a bug in pygments that's fixed already in newer versions?

[2022-01-30 11:16] TheJJ commented on #1322
Hi! openage is actually a cmake project, the `configure` and `make` files are there only for convenience. You should thus build and package it like one does with cmake.

[2022-01-30 11:20] TheJJ commented on #1322
We can think about moving the debian folder to the main repo once we're satisfied enough with the procedure.

[2022-01-31 04:25] CountOmega commented on #1322
ok, didn't know that.

[2022-02-03 03:37] sebukoleth opened #1460 "Unable to build on Arch Linux (Manjaro KDE)"
Build fails:

[code]

Is this related to dot version of Python?

Tried
- pip install cython
- pip3 install cython

Both report that cython is already installed.

[2022-02-03 04:37] LinuxDonald commented on #1460
Have you cpython installed?

[2022-02-03 08:11] heinezen commented on #1460
Probably related to this one: https://github.com/SFTtech/openage/issues/1438

[2022-02-04 07:18] sebukoleth commented on #1460
@heinezen , possible

@LinuxDonald Yes, cython is installed.

`which cython
/usr/bin/cython
`

[2022-02-09 08:37] CountOmega commented on #1458
I fixed it by appending two lines in gui.cpp

[code]
Then it compiles succesfully

[2022-02-09 11:27] TheJJ commented on #1458
great :)
the second hunk's string should be `"%s"` though.
can you submit a pull request to bring this fix upstream?

[2022-02-09 21:45] CountOmega commented on #1322
Should I just send a MR? Also, should libopenage be a separate packageẞ

[2022-02-10 06:00] maassen1 commented on #1423
Does this issue still need to be resolved?

[2022-02-10 06:10] heinezen commented on #1423
@maassen1 Yes, it's still not implemented.

[2022-02-10 11:42] TheJJ commented on #1322
Yes, please send pull requests! I don't think it is important currently to split out libopenage since the api is definitely not stable, and it is tightly coupled with the rest of the codebase. But if it's easy and useful to do, why not :)

[2022-02-10 19:17] Yaraslaut commented on #1460
I have the same issue.
The problem is that even though find_package was able to find Python, but further check of python linking does not see Python3_INCLUDE_DIR, one of the possible solution is to trust find_package in the case when try_compile failing and use variables given by find_package routine

[2022-02-10 22:38] Yaraslaut commented on #1460
@heinezen you are right, the issue is that minor version does not converted to hex.
I have not found an easy way to do it in cmake, but it can be done in FindPython_test.cpp

[2022-02-11 14:15] sarcXD commented on #1313
Hiya, sorry I was afk, basically got busy but I'm picking this up again.

[2022-02-11 15:05] sarcXD commented on #1460
@heinezen welp, glad I'm not the only one coming across this. Luckily I found a relatively clean and arguably better and cleaner way of setting our ${PYTHON_MIN_VERSION_HEX} variable. I'll outline the relatively simple fix here.
Firstly, this is how cpython does it in their header library
[code]
Now, All we need to do is shift the major version up by 24 bits, and minor version up by 16
Current met

[2022-02-12 17:08] duanqn commented on #1438
@sarcXD This looks great!
We still have issues with pyreadline, but fixing the hex version is definitely a great improvement.

[2022-02-13 06:13] #1438 closed

[2022-02-13 10:04] #1460 closed

[2022-02-13 10:56] FabioLolix commented on #1458
Hello, I have the same error on Arch Linux, GCC 11.1.0 and Clang 13.0.1

[code]

[2022-02-13 18:38] thierry-FreeBSD commented on #1397
BTW, could you please tell me where you got pygments 2.12?

[2022-02-13 23:56] TheJJ commented on #1397
Uhm good point, no idea where I got it from... In my gentoo i have `2.11.2`, i guess i've misread this as `2.12`?

[2022-02-14 15:09] heinezen commented on #1455
This should work now as we fixed the Python 3.10 issues in https://github.com/SFTtech/openage/pull/1462

Can you retest?

[2022-03-10 01:56] Grubben commented on #778
I have this problem! I'm running python3.9, maybe it's too modern? I can reproduce this bug as many times as anyone wants.

Disclaimer: I am using a nix-shell environment (which was going to be my pull request for easier dependency management).

[2022-04-06 00:47] rdeprera opened #1468 "What's going on: Please revert to release v0.4.1 if you want to test the previous working gamestate"
Nothing happens ... The game don't start

[code]

[2022-04-07 22:35] #1458 closed

[2022-04-11 20:08] TheJJ commented on #1468
This is unfortunately intentional, since we have to abandon the old, obsolete game simulation in order to decouple the renderer and introduce our event-driven simulation. Please have a look at blog.openage.dev to learn about these plans, or come by in our chatroom!

[2022-04-11 20:08] #1468 closed

[2022-04-22 04:39] sservaes opened #1470 "Converting assets from AOE2DE fails"
The following exception occurs when converting assets from AOE2DE (installed through steamcmd):
`Exception: Media at path [Directory(/home/user/Steam/steamapps/AOE2DE)]:resources/_common/drs/gamedata_x1 could not be found`

When browsing to this specific folder, the folder that is present there is gamedata_x2.

OS: Ubuntu 21.10

[2022-04-22 13:45] #1322 closed

[2022-04-23 09:49] heinezen commented on #1470
They probably changed few things for an upcoming DLC... I'll look into it.

Until then, you can try to change the filename used for data conversion in `cfg/converter/games/game_editions.toml` (by editing the AOE2DE entry in line 131) and see if that helps :)

[2022-04-30 16:02] agoodfellow123 opened #1471 "Diablo II perspective wrap on openage?"
Hi, there is a feature I always liked to see in AoE but never implemented. Diablo II's perspective warping. Please check [this](https://simonschreibt.de/tag/diablo-2/) article for more information. I thought this may be a perfect idea to implement to openage. I know openage isn't ready and there is lots of stuff to be implemented but this really may be a killer feature. Please consider adding this

[2022-05-03 11:33] heinezen commented on #1471
Thanks for sharing! I didn't even know they implemented that in Diablo 2 (maybe because I didn't play it that much :D). It's a really fancy technique to improve the visuals. I guess it's a lot easier to implement nowadays with shaders, so implementation should not be as complicated as back then? We'll see what we can do to implement this :)

[2022-05-03 14:07] halpz opened #1473 "cannot configure / build 0.4.1 release on macOS (arm64)"
I cannot seem to configure this release - here is the log I am getting:

[code]

[2022-05-03 14:08] halpz commented on #1473
and if I run the cmake invocation without the "--" :

[code]

[2022-05-03 14:29] agoodfellow123 commented on #1471
Great :D thank you for considering! I know you have a lot going on as development goes but I truly applicate your listening feedback and new ideas despite the workload.

[2022-05-06 09:52] halpz commented on #1473
here is my cmakeoutput.log

[code]

[2022-05-06 18:18] TheJJ commented on #1473
when calling cmake manually, you need to be in the `bin/` directory, otherwise you are creating an in-source build, which like the error suggests, is prevented.

[2022-05-11 22:32] kangqiwang opened #1474 "build failing on Ubuntu 22.04 LTS"
## Bug Report

**Current Behaviour**

follow /[build_instructions](https://github.com/SFTtech/openage/tree/master/doc/build_instructions)/ubuntu.md , but failed.

due to unsuccessfully install libsdl2-dev. there nothing we can do at moment on Ubuntu 22.04

**Environment**
- Ubuntu version(s): [22.04 LTS]

**Possible Solution**
keep eye on the Ubuntu 22.04 LTS updating, it should be ubuntu issue, b

[2022-05-12 08:16] kangqiwang commented on #1474
## potential solution

following this [link](https://ubuntuforums.org/showthread.php?t=2465270), I knew this is Ubuntu 21.04, but it happened exactly what I have been through. I will update everything then install libsdl2-dev

[2022-05-23 22:52] #1470 closed

[2022-06-10 02:36] duanqn commented on #1474
Is this resolved? We have a CI pipeline for 22.04 now.

[2022-06-10 10:23] TheJJ commented on #1474
i guess so. and it's up to ubuntu to push a fix for this in their repos :)

[2022-06-10 10:23] #1474 closed

[2022-06-23 14:09] kangqiwang commented on #1455
@heinezen Thanks for your updated. It work for me :smile:

[2022-06-23 14:12] kangqiwang commented on #1474
Yes, It works for me now 😄

[2022-06-23 14:41] heinezen commented on #1455
@kangqiwang Thanks for checking :)

[2022-06-23 14:41] #1455 closed

[2022-06-26 19:22] #1423 closed

[2022-07-07 16:19] cpwnd opened #1481 "./configure: code generation, TypeError: 'type' object is not subscriptable"
After installing gcc11 and SDL2 before, I'm stuck with the below problem.
I find it hard to debug the problem. Did I invoke wrongly?
How do I get more information from the build invokation, apart from the logs?

Thanks for any pointers :)

[code]

[2022-07-08 02:18] heinezen commented on #1481
You need Python 3.9, but you only have (or the script only found) version 3.8. The error comes from a type hint which is a new feature in newer Python versions.

However, it should probably complain about that sooner in the cmake pipeline...

[2022-07-08 07:24] cpwnd commented on #1481
Fixed it thanks!

[2022-07-08 07:50] cpwnd commented on #1481
Ah damn, unfortunately it did not work. I have 3.9 installed. I changed the python version (1) via the first line in configure script and (2) via `update-alternatives`, but both times `./configure` seems to ignore it, because it finds only 3.8.

So log is like the above:
[code]
I also tried the following, but the output log stays the same. Finds only 3.8.
[code]

[2022-07-08 08:06] cpwnd commented on #1481
Mh tried with a 3.9 local virtualenv, but then then it fails because its not 3.8 exact version.

[code]

Full log
[code]

[2022-07-09 12:12] cpwnd commented on #1481
Same as above
[code]

[2022-07-09 12:31] cpwnd commented on #1481
Ok thanks to your tip with trying again with venv I fixed it. I installed python3.9-dev, recreated the .venv with version python3.9, had to install the packages in the venv then it worked. Just had to invoke `./configure` without any variables. Is there an requirements.txt anywhere?

With my update-alternatives internal python3.9 version it did not work.

[2022-07-09 12:34] cpwnd commented on #1481
Ah sry distro is ubuntu20.04

[2022-07-09 13:12] cpwnd commented on #1481
If someone also tries it with the venv approach. There is a high probability that `PIL/Pillow` and `numpty` import problems will occur. I managed to install PIL sufficiently with explicit version invocation of pip `python3.9/python3.8 -m pip install/uninstall ...`  outside of the virtualenv of openage.

[2022-07-09 13:16] cpwnd commented on #1468
Should it be possible to build based on v0.4.1 tag? I tried it but am not able unfortunately and wonder if it should be possible.

[2022-07-09 22:32] TheJJ commented on #1468
Yes it should be possible. At least it was possible once :)

[2022-07-09 23:28] heinezen commented on #1481
The build scripts use the default system version of Python 3, see here:

https://github.com/SFTtech/openage/blob/2e8193ac2ba59150677042971cc9250442183ff3/buildsystem/modules/FindPython.cmake#L35-L41

On Ubuntu 20.04, the default version is Python 3.8. That explains why it fails initially.

[2022-07-10 10:54] TheJJ commented on #1481
Indeed, but with the venv active this python3 executable should be the one from the venv (due to the venv PATH).

[2022-07-10 14:52] heinezen commented on #1481
@TheJJ But does `execute_process` run in the venv? Because if that's not the case, then it gets the default system version (which is 3.8). When it searches in the venv, it wouldn't find that version because we are looking for `EXACT`.

[2022-07-10 22:44] TheJJ commented on #1481
since the venv sets environment variables i'm very sure they get inherited and reach the cmake subprocesses. but the env vars could be reset somewhere, so we have to verify.

[2022-07-13 13:01] heinezen commented on #1481
I think there are several problems with the current script

1. we always overwrite `PYTHON_MIN_VERSION` with the system version (even if its lower than our actual min version)
2. `EXACT` is also set, so newer versions that exist are ignored

https://github.com/SFTtech/openage/blob/2e8193ac2ba59150677042971cc9250442183ff3/buildsystem/modules/FindPython.cmake#L43-L46

We should instead only use `EXA

[2022-07-13 18:54] #1481 closed

[2022-07-13 20:29] heinezen commented on #1481
@cpwnd Both problems should be fixed now (finding Python by default and when using `DPYTHON_DIR=<path>`)

Can you retest and check if it works?

[2022-08-03 13:40] icefog123 opened #1484 "AoE II DE Asset conversion fails"
**When I convert assets in my Docker container， it fails like below, a lot of  "ValueError: Unknown format code 'x' for object of type 'str' "**

root@c540e62088fa:/home/openage/bin# python3 -m openage
INFO [py] launching openage v0.4.1-762-g5237262c
INFO [py] compiled by GNU 11.2.0
INFO [py] running in DEVMODE
  Do you want to convert assets? [Y/n]

Could not find any installation directory autom

[2022-08-04 09:42] heinezen commented on #1484
Probably this line here:

https://github.com/SFTtech/openage/blob/master/openage/convert/value_object/read/media/smx.pyx#L707-L712

[2022-08-04 12:48] heinezen commented on #1484
I can't reproduce this for the latest DE2 update. Did you use the Steam version directly?

[2022-08-04 15:01] icefog123 commented on #1484
I install the DE2 on Steam on Windows platform first，and copy the whole game folder to my docker container which is Ubuntu platform.
It is difficult for me to install DE2 on Ubuntu then, so at first I thought to convert assets in docker container and then copy the converted assets back to windows to play use the openage release  edition.

[2022-08-04 15:48] simonsan commented on #1484
@icefog123 Are you by any chance on the PUP branch (beta branch kind of thing) of AoE2DE on Steam?

[2022-08-11 10:54] Arkanosis commented on #750
Hello,

Things have gotten a lot easier wrt to flamegraphs since 2017: wouldn't tools like [KDAB/hotspot](/KDAB/hotspot), [KDE/heaptrack](/KDE/heaptrack) (and possibly [KernelShark](https://kernelshark.org/)) be enough for what you had in mind?

The big pro is that they are easy to use and require no code instrumentation or project-specific documentation. The big con is that they are Linux-only.

[2022-08-11 18:04] heinezen commented on #750
@Arkanosis Thanks :) I think we can try and check them out. Since the flamegraphs should be an optional dependency anyway, it'd be okay that they have some constraints.

[2022-08-13 13:07] icefog123 commented on #1484
@simonsan should not be that reason , I am sure

[2022-09-01 21:57] ShadowWarfare opened #1486 "Setup Installer"
Is it possible that a setup installer could be done for Openage like OpenMW which it retrieves the actual data files from the data disc and sets it up without the need to install wine?

[2022-09-03 03:03] heinezen commented on #1486
This would ideally be part of the game launcher (https://github.com/SFTtech/openage/issues/920). It calls the necessary CLI commands or provides an interface for them. You actually don't need Wine right now for conversion, since `python -m openage convert` should accept the raw files instead of a Wine installation.

[2022-09-03 03:03] #1486 closed

[2022-10-25 10:26] lbccjyx commented on #934
this file named main_cpp.pyx may be wrong. change it to main_cpp.pyd again?

I also meet this problem.
ImportError: DLL load failed while importing main_cpp
I rename "main_cpp.cp310-win_amd64.pyd" to "main_cpp.pyd"
rename "main_cpp.cp310-win_amd64.pyd.recipe" to "main_cpp.pyd.recipe"
rename "main_cpp.cp310-win_amd64.ilk" to "main_cpp.ilk"
but not useful